.app {
  display: flex;
}

.sidebar {
  background-color: #ffffff;
  width: 256px;
  border-right: 1px solid #ebeff2;
  box-shadow: 6px 0px 18px 0px rgba(0, 0, 0, 0.06);
  height: 850px;
}

.sass {
  font-family: "Open Sans";
  font-size: 18px;
  color: #109cf1;
  font-weight: 600;
  margin-top: 17px;
  margin-left: 24px;
}

.line {
  border-bottom: 1px solid #ebeff2;
  margin-top: 22.5px;
}

.profile-container {
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: nowrap;
}

.avatar {
  border-radius: 100%;
  width: 46px;
  height: 46px;
  display: inline-block;
  margin-left: 5px;
  margin-top: 16px;
}

.namecontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
}

.name {
  size: 14px;
  font-weight: 500;
  font: "Poppins";
  color: #192a3e;
  display: inline-block;
  
}

.email {
  size: 11px;
  font-weight: 500;
  font: "Poppins";
  color: #90a0b7;
  display: inline-block;
  
}

.iconwordcontainer {
  margin-top: 50px;
  height: 250px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.iconcontainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
}

.searchicon{
 margin-left: 26px;
}

.wordcontainer {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
}

.word {
  font-weight: 500;
  font-family: "Poppins";
  margin-left: 16px;
  font-size: 13px;
  color: #109cf1;
}

.words {
  color: #334d6e;
  font-weight: 500;
  font-family: "Poppins";
  margin-left: 16px;
  font-size: 13px;
}

.line2 {
  margin-top: 20px;
  border-bottom: 1px solid #ebeff2;
  height: 1px;
}

.siconcontainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 20px;
}

.siconcontainer2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 345px;
}

.ficon {
  width: 14px;
  height: 4px;
  margin-top: 5px;
  margin-left: 26px;
}

.word1 {
  color: #90a0b7;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 11px;
  margin-left: 16px;
}

.content-container {
  width: 1184px;
  background: #e5e5e5;
}


.search-bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  border-bottom: 1px solid #ebeff2;
  height: 60px;
}

.search-icon-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 38.5px;
}

.search {
  color: #90a0b7;
  font-family: "Poppins";
  font-size: 12px;
  margin-left: 21.5px;
}

.bell {
  margin-right: 40px;
}

main {
  display: flex;
  margin: 35px;
}


.top {
font-family: "Poppins";
font-weight: 500;
font-size: 13px;
color: #334D6E;
margin-left: 24px;
margin-top: 16px;
}

.green {
margin-top: 16px;
margin-left: 24px;
height: 4px;
width: 475px;
}

.date {
font-family: "Poppins";
font-weight: 500;
font-size: 15px;
color: #192A3E;
margin-top: 16px;
margin-left: 24px;
}

.days {
display: flex;
flex-direction: row;
justify-content: space-between;
margin-left: 10px; 
margin-right: 10px;
margin-top: 46px; 
}

.dates {
display: flex;
flex-direction: row;
justify-content: space-between;
margin-left: 15px; 
margin-right: 10px;
margin-top: 8px;
}

.sa {
font-family: "Poppins";
color: #334D6E;
font-weight: 500;
font-size: 13px;
}

.ea{
font-family: "Poppins";
color: #109CF1;
font-weight: 500;
font-size: 13px;
}

.da {
font-family: "Poppins";
color: #4C5862;
font-weight: normal;
font-size: 12px;
line-height: 18px;
}

.ds {
font-family: "Poppins";
color: #109CF1;
font-weight: normal;
font-size: 12px;
line-height: 18px;
}

.graph-container > div{
  width: 445px;
  height: 344px;
  background-color: #FFFFFF;
}

.graph1 {
  margin-bottom: 30px;
  border-radius: 10px;
  border: 1px solid bl#EBEFF2;
}

.graph2 {
border-radius: 10px;
border: 1px solid b#EBEFF2;*/
}
.calendar-container {
  height: 718px;
  width: 635px;
  background-color: #FFFFFF;
  margin: 0px 30px;
  display: flex;
  flex-direction: column;
  border: 1px solid #EBEFF2;
  border-radius: 10px;
}

.calendar {
  background-color: #fff;
  height: 218px;
  border: 1px solid #EBEFF2;
}

.card-container {
  background-color: #fff;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.card {
  background-color: #fff;
  border: 1px solid #EBEFF2;
  height: 126px;
  margin: 0px 20px;
  border-radius: 10px;
}

.card1container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.send {
font-family: "Poppins";
color: #323C47;
font-weight: 500;
font-size: 15px;
line-height: 22px;
margin-left: 16px;
margin-top: 16px;
}

.reminder {
font-family: "Poppins";
color: #90A0B7;
font-weight: 500;
font-size: 12px;
margin-right: 16px;
margin-top: 16px;
}

.card1container2 {
  display:flex;
  flex-direction: row;
  justify-content: start;
}

.due {
font-family: "Poppins";
color: #4C5862;
font-weight: normal;
font-size: 13px;
margin-top: 7px;
margin-left: 16px;
opacity: 0.5;
}

.meetd {
font-family: "Poppins";
color: #4C5862;
font-weight: normal;
font-size: 13px;
margin-top: 7px;
margin-left: 1px;
}

.cardcontainer4{
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.geo {
  border-radius: 100%;
  margin-left: 3px;
  display: inline-block;
  }

.geon {
font-family: "Poppins";
font-weight: normal;
font-size: 13px;
color: #707683;
margin-left: 7px;
margin-top: 22px;
display: inline-block;
}

.cardcontainer3 {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.greenb {
  margin-right: 24px;
  display: inline-block;
}

.card1container5{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.invite {
  font-family: "Poppins";
  color: #323C47;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  margin-left: 16px;
  margin-top: 16px;
}

.call {
font-family: "Poppins";
color: #90A0B7;
font-weight: 500;
font-size: 12px;
margin-right: 16px;
margin-top: 16px;
}

.card1container6 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.meetup {
  font-family: "Poppins";
  color: #323C47;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  margin-left: 16px;
  margin-top: 16px;
}

.event {
font-family: "Poppins";
color: #90A0B7;
font-weight: 500;
font-size: 12px;
margin-right: 16px;
margin-top: 16px;
}

.part3 {
  display: flex;
  justify-content: space-between;
}
.part3l {
  display: flex;
  align-items: center;
  flex-basis: 30%;
  justify-content: space-around;
}
.part3r {
  flex-basis: 23%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.reminder .part3r{
   flex-basis: 11%;
}
.cred,
.complete {
  background-color: #f7685b;
  border-radius: 4px;
  height: 18px;
  width: 65px;
  color: #ffffff;
  text-align: center;
  font-size: 11px;
  line-height: 19px;
  margin-top:25px

}
.complete {
  background-color: #2ed47a;
  margin-left: 55px;
  margin-top: 25px;

}
.part3lpic img {
  border-radius: 100%;
  margin-top: 20px;
}
.part3n {
  flex-basis: 60%;
  font-size: 11px;
  margin-top: 25px;
}

.wond {
  margin-top: 25px;
}

.trash{
  margin-top: 25px;
}

.showm{
font-family: "Poppins";
color: #109CF1;
font-weight: 600;
font-size: 13px;
margin: auto;
margin-bottom: 14px;
display: inline block;
}

.show{
font-family: "Poppins";
color: #6A707E;
font-weight: normal;
display: inline-block
}


.monthly {
font-family: "Poppins";
color: #109CF1;
font-weight: normal;
font-size: 12px;
display: inline-block
}

.title {
  display: inline-block;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.01em;
  margin-right: 24px;
  margin-top: 16px;
  }

.deal {
font-family: Poppins;
color: #192A3E;
font-weight: 500;
font-size: 15px;
margin-left: 24px;
margin-top: 19px;
}

.dealcontainer {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.line3{
  border-bottom: 1px solid #ebeff2;
  margin-top: 15px;
}

.ndot {
font-family: "Poppins";
color: #192A3E;
font-weight: normal;
font-size: 10px;
margin-left: 8px;
margin-top: 21px;
display: inline-block;
}

.e2 {
  margin-left: 24px;
  margin-top: 21px;
  display: inline-block;
}

.vnumcon{
  display: flex;
  flex-direction: column;
  justify-self: space-between;
  margin-left: 24px;
  align-content: space-between;
  height: 62px;
}

.vmunrow{
  display: flex;
  flex-direction: row;
  justify-self: space-between;
  margin-left: 24px;
  align-content: space-between;
  width: 100%;
}


.show2{
font-family: "Poppins";
color: #6A707E;
font-weight: normal;
display: inline-block
}


.this {
font-family: "Poppins";
color: #109CF1;
font-weight: normal;
font-size: 12px;
display: inline-block
}

.title2 {
  display: inline-block;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.01em;
  margin-right: 24px;
  margin-top: 16px;
  }

.tasks {
font-family: Poppins;
color: #192A3E;
font-weight: 500;
font-size: 15px;
margin-left: 24px;
margin-top: 19px;
}

.taskcontainer {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.line4 {
  border-bottom: 1px solid #ebeff2;
  margin-top: 15px;
}





@media screen and (max-width: 375px) {
  .sidebar {
    display: none;
  }

  main {
    flex-direction: column;
  }
}
